.About_Outer {
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    font-size: 2rem;
    text-shadow: 1px 1px 2px darkblue;
}

.About_Outer::-webkit-scrollbar {
    display: none;
}

.Family_Picture {
    margin-top: 10px;
    height: 500px;
    width: 700px;
    background-image: url('../../Pics/Familyphoto.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}